.home
  .home-wrapper
    .home-title #{add.title}
    .home-subtitle #{add.subtitle}
    .home-quote #{add.quote}
    .home-image 
      img.top-image(src=add.image alt="Christopher Hitchens chess image")
      .image-caption #{add.imageCaption}
    .home-personal
      .home-personal-title #{add.personal.title}
      each contentItem in add.personal.content
        .personal-content-item #{contentItem}
    .home-career
      .home-career-uk
        .career-uk-title #{add.careerUk.title}
      each contentItem in add.careerUk.content
        .career-uk-item #{contentItem}
      .home-career-us
        .career-us-title #{add.careerUs.title}
      each contentItem in add.careerUs.content
        .career-us-item #{contentItem}
    .home-books
      .books-title #{add.books.title}
      ul.books-list
        each listItem in add.books.list
          li.books-item #{listItem}
    p.home-info
      | There is so much 
      a(href=add.link.wiki) information 
      | and 
      a(href=add.link.youtube) videos  
      | about this extraordinary man in this sentence than in all this page.
  .home-author
    p Written and coded by Daniel Varvara
